<html>
<head>
<title></title>
<link rel="stylesheet" src="/css/bootstrap.css" type="text/css"/>
</head>
<body>
<<<<<<< HEAD
Hello {{ name }}!
=======
{{menu}}
>>>>>>> 187c66b7709525b773b1b0c18b9db5e6507c8389
</body>
</html>